{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="username">Username</label>
                            {{ form.username }}
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            {{ form.password }}
                        </div>

                        {% if form.errors %}
                        <div class="alert">
                            Invalid username or password. Please try again.
                        </div>
                        {% endif %}

                        <input type="submit" value="Login" class="positive-btn">
                    </form>
                    
                    <div class="text">
                        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
