body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
    display: flex;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #393939;
    color: white;
    padding: 25px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
    width: 180px;
    min-height: 100vh;
    position: sticky;
    top: 0;
    flex-shrink: 0;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: #ffffff 2px solid;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container {
    padding: 20px;
    background-color: #cccccc;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-header {
    background-color: #393939;
    color: white;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-footer {
    background-color: #393939;
    color: white;
    padding: 10px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card {
    background: #bdbdbd;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #c6e5f3;
}