{% extends 'base.html' %}

{% block title %}Article Detail{% endblock %}

{% block content %}
    <div class ="card-body">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <p>Author: {{ article.author }}</p>
        <p>Publisher: {{ article.publisher }}</p>
        <p>Created at: {{ article.published_at }}</p>
        <p>Approved: {{ article.approved }}</p>
    </div>

    <div class ="card-body">
        {% if user.is_authenticated and user.role == 'Editor' %}
            <a href="{% url 'article_approve' article.id %}">Approve</a>
        {% endif %}

        {% if user.is_authenticated and user.role == 'Editor' or user.role == 'Journalist' %}
            <button type="submit">
                <a href="{% url 'article_delete' article.id %}">Delete</a>
            </button>
        {% endif %}

        {% if user.is_authenticated and user.role == 'Editor' or user.role == 'Journalist' %}
            <button type="submit">>
                <a href="{% url 'article_update' article.id %}">Update</a>
            </button>
        {% endif %}

        <h3>{{ article.publisher.name }}</h3>
        {% if article.publisher.id %}
            <form action="{% url 'subscribe-publisher' article.publisher.id %}" method="POST">                <button type="submit">Subscribe</button>
            </form>
        {% else %}
            <span>No Publisher id found.</span>
        {% endif %}

        <h3>{{ article.author.username }}</h3>
        {% if article.author.id %}
            <form action="{% url 'subscribe-journalist' article.author.id %}" method="POST">                {% csrf_token %}
                <button type="submit">Subscribe</button>
            </form>
        {% else %}
            <span>No Journalist id found.</span>
        {% endif %}
    </div>
{% endblock %}
