{% extends 'base.html' %}

{% block title %}Create Publisher{% endblock %}

{% block content %}

<div class="container">
    <div class="card-body">

        <h1>Create Publisher</h1>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Publisher Name:</label>
                {{ form.name }}
            </div>

            <button type="submit" class="positive-btn">
                Create Publisher
            </button>
        </form>

    </div>
</div>

{% endblock %}
